{% extends '::index.html.twig' %}

{% block main -%}
    <h1>SampleA list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Sampleboolean</th>
                <th>Sampleinteger</th>
                <th>Samplestring</th>
                <th>Sampletext</th>
                <th>Sampledatetime</th>
                <th>Sampledate</th>
                <th>Sampletime</th>
                <th>Sampledecimal</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('samplea_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.sampleBoolean }}</td>
                <td>{{ entity.sampleInteger }}</td>
                <td>{{ entity.sampleString }}</td>
                <td>{{ entity.sampleText }}</td>
                <td>{% if entity.sampleDatetime %}{{ entity.sampleDatetime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.sampleDate %}{{ entity.sampleDate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.sampleTime|date('H:i:s') }}</td>
                <td>{{ entity.sampleDecimal }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('samplea_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('samplea_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('samplea_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock main %}
