{% extends '::index.html.twig' %}

{% block main -%}
    <h1>SampleA creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('samplea') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock main %}
