{% extends '::index.html.twig' %}

{% block main -%}
    <h1>SampleA</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Sampleboolean</th>
                <td>{{ entity.sampleBoolean }}</td>
            </tr>
            <tr>
                <th>Sampleinteger</th>
                <td>{{ entity.sampleInteger }}</td>
            </tr>
            <tr>
                <th>Samplestring</th>
                <td>{{ entity.sampleString }}</td>
            </tr>
            <tr>
                <th>Sampletext</th>
                <td>{{ entity.sampleText }}</td>
            </tr>
            <tr>
                <th>Sampledatetime</th>
                <td>{{ entity.sampleDatetime|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Sampledate</th>
                <td>{{ entity.sampleDate|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Sampletime</th>
                <td>{{ entity.sampleTime|date('H:i:s') }}</td>
            </tr>
            <tr>
                <th>Sampledecimal</th>
                <td>{{ entity.sampleDecimal }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('samplea') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('samplea_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock main %}
